@import "../../global/refs.scss";

#about-us {
  display: flex;
  position: relative;
  justify-content: flex-start;

  &-image {
    display: flex;
    width: 40%;
  }

  &-content {
    display: flex;
    position: absolute;
    width: inherit;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 9%;
    margin-left: 37%;

    z-index: 2;

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.3em;
      width: 70%;
    }

  }

  .about-us-subtitle {
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .quote-img {
    left: -40px;
    top: -7px;
  }

  .quote-img-rotate {
    transform: rotate(180deg);
    bottom: 12%;
    right: -25px;
  }

  .quote-img, .quote-img-rotate {
    position: absolute;
    opacity: 0.32;
    z-index: -1;
    width: 65px;
  }
}

@media (max-width: 1024px) {
  #about-us {
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      display: block;
      position: relative;
      width: 60%;
    }

    &-content {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin: 50px 0px;

      h2 {
        font-size: 2em;
      }

      p {
        font-size: 2em;
        width: 100%;
      }

      .quote-img {
        left: -35px;
        top: 28px;
      }

      .quote-img-rotate {
        transform: rotate(180deg);
        bottom: 2px;
        right: -27px;
      }

      .quote-img, .quote-img-rotate {
        width: 60px;
      }
    }
  }
}

@media (max-width: 600px) {
  #about-us {
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      display: block;
      position: relative;
      width: 60%;
    }

    &-content {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin: 50px 0px;

      h2 {
        font-size: 1em;
      }

      p {
        font-size: 1em;
        width: 100%;
      }

      .quote-img {
        left: -20px;
        top: 10px;
      }

      .quote-img-rotate {
        transform: rotate(180deg);
        bottom: 0;
        right: -15px;
      }

      .quote-img, .quote-img-rotate {
        width: 35px;
      }
    }
  }
}