$title-purple: #86007D;
$text-purple: #FFE3FD;
$background-purple: #240122;
$nav-bar-menu-text-contrast-color:#F7C3F3;
$carrousel-contrast: #380034;
$cattousel-name: #F79DF0;
$default-font: 'Hind Madurai', sans-serif;
$madurai-pro-font: 'Hind Madurai', sans-serif;

:root, body, html {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

@mixin border-radius($radius: 50px, $args: border) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin flex($justify: flex-start, $align: stretch, $direction: row, $wrap: nowrap) {
  @if ($justify == cc) {
    display: flex;
    justify-content: center;
    align-items: center;
  } @else {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
  }
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin call-animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}
@mixin transitionwh($transw: 0s, $transh: 0s) {
  -webkit-transition: width $transw, height $transh;
  -moz-transition: width $transw, height $transh;
  -o-transition: width $transw, height $transh;
  transition: width $transw, height $transh;
}

@mixin placeholder($color, $font, $size){
  font-family: $default-font;
  font-size: $size;
  color: $color;
}

@mixin box-shadow-button($horizontal, $vertical, $blur, $spread, $color){
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin filter($args...) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -o-filter: $args;
  filter: $args;
}
