@import '../../global/refs.scss';

.navbar {
    @include flex(space-between);
    ul {
        list-style: none;
    }
    .nav-image{
        padding-left: 50px;
    }
    .navbar-social-network-container {
        position: relative;
        @include flex();
        width: 150px;
        height: 50px;
    }
    .navbar-social-network {
        @include flex();
        position: absolute;
        top: 0;
        right: 0;
    }
    .navbar-menu {
        @include flex(space-between);
        width: 35%;
    }
    .svg-image {
        
    }
    .social-icon {
        height: 30px;
        width: 30px;
    }
}